
<footer class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mb-3">
                <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="{{ .Site.BaseURL }}">
                    <img src="{{ "images/logo.png" | absURL }}" alt="{{ .Site.Title }}" class="img-fluid">
                </a>
                <ul class="list-unstyled small text-muted">
                    <li class="mb-2">{{ .Site.Params.slogan }}</li>
                    <li class="mb-2">&copy; 2024 {{ .Site.Title }}. All rights reserved.</li>
                  </ul>
            </div>
            {{ if .Site.Menus.main }}
            <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                <h5>Links</h5>
                <ul class="list-unstyled">
                  {{ range .Site.Menus.main }}
                  <li class="mb-2"><a href="{{ .URL | absURL }}" class="link-dark text-decoration-none">{{ .Name }}</a></li>
                  {{ end }}
                </ul>
            </div>
            {{ end }}
        </div>
    </div>
</footer>
